{% block title %}New User{% endblock %}

{% block content %}
<form action="/users/new" method="POST">
    <label for="first_name_form">First Name</label>
        <input id="first_name_form" type="text" name="first_name" placeholder="Enter a first name">
    <label for="last_name_form">Last Name</label>
        <input id="last_name_form" type="text" name="last_name" placeholder="Enter a last name">
    <label for="image_url_form">Image URL</label>
        <input id="image_url_form" type="text" name="image_url" placeholder="Provide an image of this user">
    <button>Add</button>
</form>

{% endblock %}